# Homework #2

Practicing Python and basic inferential statistics.

In [27]:
from pathlib import Path
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from scipy.stats import ttest_ind

In [5]:
charpath = Path('../labs/Feb1Pandas/character_list5.csv')
characters = pd.read_csv(charpath, encoding = 'latin1')  # note encoding
characters.head()

   script_id imdb_character_name  words gender   age
0        280               betty    311      f  35.0
1        280     carolyn johnson    873      f   NaN
2        280             eleanor    138      f   NaN
3        280     francesca johns   2251      f  46.0
4        280               madge    190      f  46.0

In [6]:
moviepath = Path('../labs/Feb1Pandas/meta_data7.csv')
movies = pd.read_csv(moviepath, encoding = 'latin1')
movies.head()

,script_id,imdb_id,title,year,gross,lines_data
0,1534,tt1022603,(500) Days of Summer,2009,37.0,7435445256774774443342577775657744434444564456...
1,1512,tt0147800,10 Things I Hate About You,1999,65.0,1777752320274533344457777722433777334443764677...
2,1514,tt0417385,12 and Holding,2005,NaN,5461357777754212454544441367774433446547647753...
3,1517,tt2024544,12 Years a Slave,2013,60.0,4567334777777777777777447777756477777444777777...
4,1520,tt1542344,127 Hours,2010,20.0,453513352345765766777777773340

## Assignment 1

We've seen that the mean age of actors on screen differs for men and for women.

Does it also change over historical time, as we move from the 1940s to the present?

Let's divide movies into two roughly equal-sized groups. To do that, we need to find the median year.

In [8]:
np.median(movies['year'])

2001.0

So we'll compare everything up to 2000 and everything thereafter. Does the mean age of characters differ significantly between these two groups of movies?

Assume that "significant" here means *p* < .05.

Also assume that we're excluding "vampires," i.e., characters older than 100.

You don't need to work through a permutation test; you can use ```ttest_ind.``` The challenge here is rather that it's difficult to construct sets of characters distinguished by release date of the film, since release date is recorded in ```movies``` and character ages are in ```characters.```

Once you've done that, a) visualize the distributions of character ages in both periods, b) measure the difference of means, and c) test the difference for statistical significance.

If the difference of means is statistically significant, does it also seem to you practically meaningful?

## Assignment 2

In our lab work, and in assignment 1, we looked at the distribution of ages as a simple histogram that counted the numbers of characters in each "bin." But the distribution of dialogue is probably a different matter; for instance, children and very old people may appear in movies, but get relatively few lines.

Explore this question by visualizing the number *of words* assigned to characters of different ages (between say 0 and 100). Produce visualizations for both women and men. You don't have to perform any statistical tests, but write a paragraph describing hypotheses this exploratory data analysis might lead you to formulate.